.contant{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    // ブロック要素に対してmargin: 0 auto;をする事で左右中央揃いになる
    background-color: orangered;
    transform: scale(1.2,1.2);
    
    // 以下の定義は半角スペースを開けて入力する事で複数個選択できる

        // ransform: scale(1.1,1.1...ets);
        // 物体自体の大きさを指定できる
        // 第一引数X軸方向、第二引数にY軸方向に指定出来る、

        // transform: skew(~deg);
        // 平行四辺形を定義する時に使用する
        // XとYで値を指定できるが(Xdeg Ydeg)もセットで使う
        
        // transform: :translate
        // 第一引数X軸方向、第二引数にY軸方向移動する、
        // 100%だと物体一個分移動する
        // -マイナスを付けると反対方向に移動

        // transform: rotate(30deg);
        // ( ~deg)で指定した角度右に回転、マイナスを付けると左に回転
        transform-origin:center center;
        // transform-origin: ;とセットで使う事で頂点を視点に決めそれを軸に回転させることができる


}
