@charset "UTF-8";
.header {
    justify-content: space-between;
    align-items: center;
    background:white;
    width: 100%;
    height: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
.header_title{
    padding-left:70px ;
    color: black;
    letter-spacing:1px;
}
a {
    text-decoration: none;
}
.products{
    margin-left: 70px;
    margin-top: 120px;
    font-size: 14px;
}
.photo{
    width: 400px;
    height: 390px;
    border: 1px #2e2e2e solid;
    margin-left: 70px;
    margin-top: 30px;
}
.flex{
    display: flex;
}
.text{
    padding-left: 70px;
    padding-top: 30px;
    font-size: 13.8px;
    letter-spacing:0.5px
}
.back{
    text-align: center;
    font-size: 14px;
    margin-top: 75px;
}
.flex_sns{
    display: flex;
    margin-left: 80px;
    margin-top: 120px;
    gap: 30px;
    font-size: 12px;
}
